<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <h1>Store Service</h1>
        <div class="row no-gutters ftco-services">
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <img width="20%" src="../../../assets/delivery-box.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Free Shipping</h3>
                        <p>Free shipping service is for customers who buy in bulk or buy many times of shopNA products
                            and have a free shipping code from shopNA.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <img width="20%" src="../../../assets/customer-service.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Support Customer</h3>
                        <p>
                            Customer support service is available 24/7 regardless of person or remote location with the
                            criteria of enthusiastic product advice.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <img width="20%" src="../../../assets/money.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Secure Payments</h3>
                        <p>The payment service of shopNA can be paid after receiving the goods or can be paid in advance
                            via ATM.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>